* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #2e37e2;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

nav {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

header {
  background-color: #626f47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  height: 110px;
  width: 100%;
  border: 1px solid #636b53;
  border-radius: 6px;
}

header a {
  text-decoration: none;
  color: #030303;
  font-weight: 600;
  padding: 8px;
}

header a:hover {
  color: #535bf2;
  text-decoration: underline;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 40px;
}

.title:after,
.title:before {
  content: " ";
  display: block;
  width: 100%;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}

.introduction {
  text-align: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e9e3ff;
  height: 100%;
}

p {
  font-size: large;
  color: #636b53;
}

main {
  height: 100vh;
  width: 100vw;
  display: block;
  justify-content: center;
  align-items: center;
}

/*Button section */

button {
  background-color: #e5e7eb;
  color: #4b5563;
  border: 1px solid #6b7280;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

button > svg {
  margin-right: 5px;
  color: rgb(69, 168, 69);
  height: 20px;
  width: 20px;
}

button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

button.button-lg {
  padding: 13px 25px;
  color: black;
}

.green {
  color: green;
}

button.button-success {
  color: #047857;
  background-color: #ecfdf5;
  border-color: #047857;
}

button.button-warning {
  color: #fbbf24;
  background-color: #fffbeb;
  border-color: #fbbf24;
}

button.button-danger {
  color: #f87171;
  background-color: #fef2f2;
  border-color: #f87171;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Menu section*/

.menu {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 200px;
}

.menu-button {
  background-color: #a4b465;
  border-radius: 6px;
  border: 1px solid gray;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: #c2cc9a;
}

.menu-item {
  color: #000000;
  padding: 0.75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 6px;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6b7280;
}

/* HOME */

.home-container {
  padding-top: 20px;
  text-align: center;
}

/* Dark and Light Theme Styles */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  padding: 40px 20px;
}

.content {
  text-align: center;
  padding: 20px;
  transition: color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5ecd5;
  border-radius: 6px;
  width: 100%;
  flex: 1;
}

.page-content {
  flex-grow: 1;
}

.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  gap: 10px;
  color: #93c7b6;
}

.light {
  border: 1px solid #0c4a6e;
  background-color: #f0f9ff;
  color: #0c4a6e;
}

.dark {
  border: 1px solid #f0f9ff;
  background-color: #000b58;
  color: #f0f9ff;
  border-color: #006a67;
}

.dark button,
body.dark button {
  background-color: #000b58;
  color: #fff4b7;
  border-color: #006a67;
}

.dark button.button-success {
  color: #bbf7d0;
  background-color: #166534;
  border-color: #006a67;
}

.dark button.button-warning {
  color: #fde68a;
  background-color: #92400e;
  border-color: #006a67;
}

.dark button.button-danger {
  color: #fecaca;
  background-color: #7f1d1d;
  border-color: #006a67;
}

.dark a {
  color: #fff4b7;
  text-decoration: none;
}

.dark .link-button,
body.dark .link-button {
  color: #fff4b7;
  border-color: #006a67;
  background-color: #000b58;
}

.dark header {
  color: #fff4b7;
  border-color: #006a67;
  background-color: #1e293b;
}
.dark .title {
  color: #fff4b7;
}

.dark .title:after,
.dark .title:before {
  border-bottom: 1px solid #006a67;
  border-top: 1px solid #006a67;
  background-color: #23272f;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #fff4b7;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

.dark .content {
  background-color: #1e293b;
  color: #fff4b7;
}

.dark p {
  color: #fff4b7;
}
.dark .menu-dropdown {
  background-color: #000b58;
  color: #fff4b7;
  border-color: #006a67;
}

.dark .menu-item {
  background-color: #000b58;
  color: #fff4b7;
  border-color: #006a67;
}

/* Accessibility Styles */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
